@import url("https://fonts.googleapis.com/css?family=Work+Sans:300&display=swap");

:root {
  --nav-color: rgba(85, 214, 255, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.navbutton {
  background-color: rgba(85, 214, 255, 0);
  border: none;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.screenButton {
  font-size: 20px;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 0, 179, 1);
}
.screenButton:hover {
  text-decoration: underline;
}
.navbutton:hover {
  text-decoration: underline;
}
.Home_content {
  height: 150vh;
  background-image: url(https://source.unsplash.com/collection/9523194);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
  color: #ffffff;
  width: 150vh;
  margin: auto;
}

.About_content {
  height: 100vh;
  background-image: url(https://source.unsplash.com/collection/9523194);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: none;
  place-items: center;
  color: #ffffff;
  width: 150vh;
  margin: auto;
}

#About_content p {
  width: 140vh;
  margin: auto;
  font-size: 20px;
}

/* images content */
.Images_content {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  display: none;
}

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
}

.item img {
  grid-column: 1 /-1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.item_overlay {
  grid-column: 1 /-1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item_overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
}
.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  width: 1000px;
  padding: 20px;
}

.overlay img {
  width: 50%;
}

.Links_content {
  height: 150vh;
  background-image: url(https://source.unsplash.com/collection/9523194);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: none;
  place-items: center;
  color: #ffffff;
  width: 150vh;
  margin: auto;

}

/* title stuff */
#Title {
  font-size: 30px;
  text-decoration: underline;
  float: right;
  margin-right: 100px;
  margin-top: -85px;
  font-family: "Work Sans", sans-serif;
}

/* nav styles here */

header {
  background: var(--nav-color);
  text-align: center;
  position: fixed;
  z-index: 998;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 20;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--nav-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  padding: 10px 30px 10px 30px;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


